<!DOCTYPE html>
<html>
  <head>
    <title>Drabkirn</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="manifest" href="/manifest.json">

    <%= javascript_pack_tag 'index', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'index', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if show_navigation_array.include? "#{params[:controller]}/#{params[:action]}" %>
      <%= render 'navigation' %>
    <% end %>
    
    <%= render 'flash' %>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
